<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 为mapper起名，通过namespace.id调用不同的标签-->
<mapper namespace="cn.javak.mapper.GoodMapper">
    <cache readOnly="false"></cache>
    <select id="selectAll" resultType="Good">
        select * from good
    </select>
    <select id="selectById" resultType="Good" parameterType="int">
        select * from good where id = #{0}
    </select>
    <select id="selectByGoodTypeId" resultType="Good" parameterType="int">
        select * from good where good_type_id = #{0}
    </select>
    <select id="selectId" resultType="java.lang.Integer">
        select id from good
    </select>
</mapper>