body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

a {
    color: #757575;
    text-decoration: none;
}


/*宽度满屏*/

.all_width {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}


/*导航栏*/

#top {
    height: 40px;
    margin: 0;
    background: #333;
}

#top_menu {
    width: 1230px;
    height: 40px;
    margin: 0 auto;
}

#top_menu_left {
    float: left;
    width: 850px;
    height: 40px;
}

.top_menu_left_a div {
    font-size: 12px;
    color: gray;
    float: left;
    margin-left: 20px;
    line-height: 40px;
}

.top_menu_left_a div a {
    display: inline-block;
    color: #b0b0b0;
}

.top_menu_left_a div a:hover {
    color: #fff;
}

#top_menu_right {
    float: right;
    width: 380px;
    height: 40px;
}

.top_menu_right_a div {
    font-size: 12px;
    color: gray;
    float: right;
    margin-left: 20px;
    line-height: 40px;
}

.top_menu_right_a div a {
    display: inline-block;
    color: #b0b0b0;
}

.top_menu_right_a div a:hover {
    color: #fff;
}
.buy_car{
    background-color: #5d5d5d;
    width: 80px;
    text-align: center
}

/*搜索栏*/

#search {
    height: 100px;
}

#search_content {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 1230px;
    position: relative;
}

#search_content_log {
    height: 100px;
    width: 80px;
    float: left;
}
#search_content_log img{
    transition: width 0.1s,height 0.1s,box-shadow 0.1s;
}
#search_content_log img:hover{
    width: 60px;
    height: 60px;
    box-shadow: 5px 5px 8px #888888;
}

#search_content_key {
    height: 100px;
    width: 650px;
    left: 252px;
    position: absolute;
}

.search_content_key_word {
    float: left;
    display: block;
    padding: 26px 10px 38px;
    color: #333;
    font-size: 16px;
    margin-top: 15px;
}

.search_content_key_word:hover {
    color: #ff6829;
}

.search_content_key_word_child {
    display: none;
}

#search_content_input {
    height: 100px;
    width: 317px;
    float: right;
    position: relative;
}

#search_content_input_button {
    height: 50px;
    width: 55px;
    background-color: white;
    border: 1px solid #969696;
    position: absolute;
    top: 25%;
    cursor: pointer;
    right: 0px;
    transition: color 0.1s,background-color 0.1s;
}
#search_content_input_button:hover {
    color: white;
    background: #ff6700;
}

#search_content_input_text {
    top: 25%;
    position: absolute;
    padding: 11px 3%;
    font-size: 21px;
    width: 83%;
    -webkit-padding: 14px 3%;
}

#xianshi{
    height: 40px;
    background: #f5f5f5;
}
#xianshi_content{
    margin:0 auto;
    height: 40px;
    width: 1230px;
}
#xianshi_content .text{
    font-size: 12px;
    line-height: 40px;
    color: #757575;;
    float: left;
}
#xianshi_content .text a:hover{
    transition: color 0.3s;
    color: #f44800;
}
/*商品栏*/
#good {

    height: 550px;
    min-height: 550px;
    max-height: 1500px;
}
#good_menu {
    margin-left: auto;
    margin-right: auto;
    min-height: 550px;
    max-height: 1500px;
    width: 1226px;

}
#good_menu_picture{
    width:70px;
    height: 540px;
    float:left;
    margin-top: 90px;
}
.good_picture{
    width:69px;
    height:79px;
    margin: auto 0;
    padding: 5px 0;
}
.good_picture img{
    border:1px solid #e0e0e0;
    cursor: pointer;
}
.good_picture img:hover{
    border: 1px solid #ff6700;
}
#good_menu_type {
    width: 700px;
    height: 550px;
    float: left;
}
#good_menu_type_picture1{
    width:470px;
    height: 470px;
    margin:30px auto;
}
#good_menu_list {
    width: 450px;
    min-height: 550px;
    float: left;
}
#xiao_zong{
    height:39px;
    width:300px;
}
#xiao{
    height:39px;
    width:40px;
    float:left;
}
#xiao_picture{
    height:39px;
    width:195px;
    float:left;
    margin-left:14px ;
    padding-top: 0px;
    font-size:50%;
}
#xiao_picture1{
    height:15px;
    width:39px;
    background:red;
}
#xiao_picture2{
    height:15px;
    width:39px;
    margin-top:2px;
    background:yellow;
}
#xiao1{
    border:1px solid #e0e0e0;
    margin-top:10px;
    padding:14px 50px 14px 0px;
}
.price{
    margin-top: 20px;
    height: 66px;
    line-height: 66px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    color: #ff6700;
    font-size: 30px;
}
#xiao2{
    line-height: 66px;
    color: #ff6700;
    font-size: 30px;
    font-weight: bold;
}
#xiao2 .yuan{
    font-size: 14px;
    font-style: normal;
}

#xiao3{
    width: 280px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    display: block;
    float: left;
    text-align: center;
    background-color: #ff6700;
    border: none;
    color: #fff;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
#xiao3:hover{
    transition: background-color 0.3s;
    background-color:#f25807;
}
#xiao4{
    font-size: 16px;
    background-color: #757575;
    border: none;
    color: #fff;
    height: 48px;
    width: 150px;
    display: block;
    float: right;
    text-align: center;
    margin-left: 15px;
    line-height: 48px;
}
#xiao5{
    margin-top: 10px;
    width: 450px;
    height: 48px;
}

#medi{
    height:400px;
}
#medi_menu {
    margin-left: auto;
    margin-right: auto;
    height:60px;
    width: 1226px;

}
#medi_menu_content{
    width:680px;
    height:60px;
    margin:0px auto;
    border:1px solid #e0e0e0;
    text-align:center;
    font-size: 20px;
    line-height: 60px;
}
.medi1{
    height:60px;
    text-align:center;
    padding:20px auto 0px auto;

}
#medi1{
    width: 1226px;
    height:60px;
    margin:0px auto;
    background:#e0e0e0;
    padding-top:20px ;
    text-align:center;
}
#input1{
    width:362px;
    height:45px;
    float:left;
    font-size:19px;
    margin-left:450px;
}
#input2{
    width:100px;
    height:50px;
    margin-left:0px;
    float:left;
}
#medi2{
    width: 1226px;
    height:120px;
    margin:0px auto;
    background:#e0e0e0;
    padding-top:20px ;
    text-align:center;
}
#site-footer{
    margin-top: 10px;
    height:500px;
}
#site-footer-content{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 1226px;
}
#site-footer-content1{
    font-size:9px;
    height: 100px;
    line-height: 100px;
}
#site-footer-content2{
    width:840px;
    float:left;
    height: 350px;

}
#site-footer-content3{
    width:380px;
    float:left;
    height: 350px;
    text-align: center;
}
.mulu3{
    width:140px;
    height: 85px;
}
.mulu4{
    width:140px;
    height: 350px;
    float:left;
}
.mulu5{
    width:245px;
    font-size: 20px;
    text-align: center;
    float:left;
}
/*底部栏*/
#bottom {

    height: 232px;

}

#bottom_content {
    margin-left: auto;
    margin-right: auto;
    height: 232px;
    width: 1226px;
}

#bottom_content_log {
    height: 100px;
    width: 80px;
    float: left;
}

#bottom_content_content {
    height: 200px;
    width: 1140px;
    float: left;
}

.bottom_content_content_content {
    height: 10px;
    float: left;
    margin-left: 10px;
    font-size: 15px;
}
#bottom_content_content1{
    font-size: 11px;
    margin-left: 4px;
}