
body {
    font-size: 14px;
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", "微軟正黑體", "儷黑 Pro", sans-serif;
    padding: 0;
    margin: 0;
}

a,
i {
    text-decoration: none;
    color: #333;
    display: block;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    background: white;
}

.logo {
    width: 1130px;
    height: 98px;
    margin: 0 auto;
}

.logo a {
    width: 205px;
    height: 98px;
}

.main {
    width: 100%;
    height: 588px;
    background: #f2f6ff;
    position: relative;
}

.main a {
    width: 100%;
    height: 588px;
}

.background {
    width: 1130px;
    height: 588px;
    margin: 0 auto;
    position: relative;
}

.background img {
    position: absolute;
    left: -5%;
}

.main .login_frame {
    width: 410px;
    min-height: 524px;
    position: absolute;
    top: 18%;
    right: 18%;
    font-size: 14px;
    z-index: 24;
    background: white;
    display: block;
}

.main .login_frame .login_info {
    width: 204px;
    height: 82px;
    display: inline-block;
    text-align: center;
    line-height: 82px;
    font-size: 24px;
    color: #4a4a4a;
}

.main .login_frame .login_info .login_text {
    cursor: pointer;
    color: #f56600;
}

.main .login_frame .register_info {
    width: 205px;
    height: 82px;
    display: block;
    float: right;
    text-align: center;
    line-height: 82px;
    font-size: 24px;
    color: #4a4a4a;
}

.main .login_frame .register_info .register_text {
    cursor: pointer;
    color: #666666;
}

.main .login_frame .login {
    width: 410px;
    height: 442px;
    margin: 0 auto;
}

.main .login_frame .login .account_password {
    width: 350px;
    height: 150px;
    margin: 0 auto
}

.main .login_frame .login .account_password .account {
    width: 350px;
    height: 50px;
    line-height: 22px;
    padding: 10px 10px 10px 10px;
    display: block;
    margin: 30px auto;
}

.main .login_frame .login .account_password .password {
    width: 350px;
    height: 50px;
    line-height: 22px;
    padding: 10px 10px 10px 10px;
    display: block;
    margin: 30px auto;

}

.main .login_frame .login .loginBtn {
    width: 350px;
    height: 50px;
    line-height: 22px;
    display: block;
    margin: 20px auto;
    border: none;
    color: white;
    background-color: #ff6700;
    transition: background-color 0.2s;
    cursor: pointer;
}

.main .login_frame .login .loginBtn:hover {
    background-color: #f25807;
}

#register_frame {
    width: 410px;
    min-height: 442px;
    position: absolute;
    right: 18%;
    top: 32%;
    font-size: 14px;
    z-index: 24;
    background: white;
    display: none;
}

#register_frame .register_account_password {
    width: 350px;
    height: 250px;
    margin: 0 auto
}

#register_frame .register_account_password .account {
    width: 350px;
    height: 50px;
    line-height: 22px;
    padding: 10px 10px 10px 10px;
    display: block;
    margin: 30px auto;
}

#register_frame .register_account_password .password {
    width: 350px;
    height: 50px;
    line-height: 22px;
    padding: 10px 10px 10px 10px;
    display: block;
    margin: 30px auto;
}

#register_frame .register_account_password .password2 {
    width: 350px;
    height: 50px;
    line-height: 22px;
    padding: 10px 10px 10px 10px;
    display: block;
    margin: 30px auto;
}

#register_frame .register_account_password .loginBtn {
    width: 350px;
    height: 50px;
    line-height: 22px;
    display: block;
    margin: 20px auto;
    border: none;
    color: white;
    background-color: #ff6700;
    transition: background-color 0.2s;
    cursor: pointer;
}

#register_frame .register_account_password .loginBtn:hover {
    background-color: #f25807;
}