body {
    margin: 0;
    padding: 0;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

a {
    text-decoration: none;
}

.header {
    font-size: 12px;
    border-bottom: 2px solid #ff6700;
    background: black;
    color: #b0b0b0;
    position: relative;
    z-index: 20;
    height: 100px
}

.header .header_main {
    margin: 0 auto;
    width: 1230px;
    height: 100px;
    position: relative;
}

.header .header_main .left {
    width: 300px;
    height: 100px;
    float: left;
}

.header .header_main .left img {
    cursor: pointer;
    float: left;
    margin: 23px 0 0 20px;
}

.header .header_main .left .header_text {
    display: inline-block;
    margin-left: 25px;
    font-size: 28px;
    line-height: 100px;
    font-weight: normal;
    color: white;
}

.header .header_main .right {
    width: 500px;
    height: 100px;
    float: right;
}

.header .header_main .right a {
    color: white;
    font-size: 16px;
}

.header .header_main .right .user_name {
    line-height: 100px;
    display: inline-block;
    float: right;
}

.header .header_main .right .user_name a:hover {
    color: #ff6700;
}

.header .header_main .right .user_order {
    margin: 0 10px;
    line-height: 100px;
    display: inline-block;
    float: right;
}

.header .header_main .right .user_order a {
    border-left: 1px solid #e0e0e0;
    padding-left: 5px;
}


.main {
    min-height: 700px;
    width: 100%;
    height: auto;
    background: #f5f5f5;
}

.main .nocart {
    width: 1230px;
    height: auto;
    margin: 30px auto 0;
    position: relative;
}

.main .nocart img {
    margin-top: 100px;
}

.main .nocart .buy {
    width: 180px;
    height: 55px;
    position: absolute;
    z-index: 20;
    top: 57%;
    left: 49%;
    text-align: center;
    background: #ff6700;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}

.main .nocart .buy:hover {
    background: #f25807;
}

.main .cart_header {
    width: 1236px;
    height: auto;
    margin: 0 auto;
}

.main .order_head {
    width: 1230px;
    height: 70px;
    margin: 10px auto;
    background: white;
}

.main .order_head .head_select {
    width: 70px;
    height: 70px;
    line-height: 70px;
    float: left;
    text-align: center;
}
.main .order_head .head_select .select_img{
    margin-top:23px;
}

.main .order_head .head_pic {
    width: 160px;
    height: 70px;
    line-height: 70px;
    float: left;
    text-align: center;
}

.main .order_head .head_name {
    width: 380px;
    height: 70px;
    line-height: 70px;
    float: left;
}

.main .order_head .head_price {
    width: 176px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    float: left;
}

.main .order_head .head_num {
    width: 150px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    float: left;
}

.main .order_head .head_small_price {
    width: 200px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    float: left;
}

.main .order_head .head_delete {
    width: 80px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    float: left;
}

.main .order_item {
    width: 1230px;
    height: 80px;
    margin: 3px auto;
    background: white;
    border-radius: 5px;
    transition: width 0.1s,box-shadow 0.1s;
}
.main .order_item:hover{
    width: 1240px;
    box-shadow: 0px 2px 10px #888;
}
.main .order_item:hover .select{
    margin-left: 5px;
}
.main .order_item .select {
    width: 70px;
    height: 80px;
    float: left;
    position: relative;
    transition: margin-left 0.1s;
}

.main .order_item .select img {
    position: absolute;
    top: 36%;
    left: 36%;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.main .order_item .pic {
    width: 160px;
    height: 80px;
    line-height: 80px;
    float: left;
    text-align: center;
}

.main .order_item .detail {
    width: 380px;
    height: 80px;
    line-height: 80px;
    float: left;
}

.main .order_item .price {
    width: 176px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
    color: #ff6700;
}

.main .order_item .num {
    width: 150px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
}
.main .order_item .num input{
    text-align: center;
    border: 1px solid #cccccc;
}
.main .order_item .num a input {
    width: 20px;
}

.main .order_item .num input {
    text-align: center;
    width: 50px;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.main .order_item .small_price {
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    float: left;
}

.main .order_item .delete {
    width: 80px;
    height: 80px;
    text-align: center;
    float: left;
    position: relative;
}

.main .order_item .delete .delete_content {
    width: 24px;
    height: 24px;
    color: white;
    text-align: center;
    font-size: medium;
    position: absolute;
    top: 35%;
    left: 35%;
    border-radius: 15px;
    cursor: pointer;
    background: #ff6700;
}
.pay {
    width: 1230px;
    height: 50px;
    text-align: right;
    position: fixed;
    left: 50%;
    margin-left: -613px;
    bottom: 0;
    z-index: 20;
    background-color: #fafafa;
}

.pay .pay_info {
    width: 300px;
    height: 60px;
    line-height: 60px;
}

.pay .pay_info a {
    margin-left: 50px;
}

.pay .pay_info a:hover {
    transition: color .3s;
    color: #ff6700;
}

.pay .pay_info .go_index {
    color: #757575;
    transition: color .3s;
    float: left;
}

.pay .pay_info .static {
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid #eee;
    color: #757575;
    font-size: 14px;
}

.pay .pay_info .static .baby_count {
    font-style: normal;
    color: #ff6700;
}

.pay .pay_btn {
    position: absolute;
    left: 827px;
    top: 0px;
    width: 400px;
    height: 50px;
}
.pay .pay_btn input{

}

.pay .pay_btn .go_pay {
    float: right;
    width: 202px;
    height: 50px;
    border: none;
    background: #ff6700;
    font-size: 20px;
    color: #fff;
}

.pay .pay_btn .money_info {
    line-height: 50px;
    padding-right: 13px;
    color: #ff6700;
}

.pay .pay_btn .money_info .all_money {
    font-size: 30px;
}