
.local {
    border-top: 2px solid #ff6700;
    width: 100%;
    height: 41px;
    margin: 0 auto;
}

.local .local_text {
    width: 1230px;
    height: 41px;
    margin: 0 auto;
}

.local .local_text a {
    font-size: 12px;
    line-height: 40px;
    color: #616161;
}

.local .local_text a:hover {
    color: #424242;;
}

.local .local_text .sep {
    font-size: 12px;
    line-height: 40px;
    color: #616161;
}

.main {
    min-height: 700px;
    width: 100%;
    height: auto;
    background: #f5f5f5;
}

.order_title {
    width: 1236px;
    height: 68px;
    margin: 0 auto;
}

.order_title a {
    background: white;
    border-radius: 5px;
    display: inline-block;
    float: left;
    width: 307px;
    height: 68px;
    font-size: 30px;
    color: #333;
    text-align: center;
    line-height: 68px;
    transition: color 50ms, font-size 50ms;
}

.order_title a:hover {
    color: #ff6700;
    font-size: 40px;
}

.order_title .partition {
    float: left;
    display: inline-block;
    height: 68px;
    width: 1px;
    border-left: 1px solid #4a4a4a;
}

.order_title .cur_page {
    display: inline-block;
    float: left;
    width: 307px;
    height: 68px;
    font-size: 40px;
    color: #ff6700;
    text-align: center;
    line-height: 68px;
    transition: color 0.1s, font-size 0.1s;
}

.main .order_content .order_info {
    width: 1230px;
    border: 1px solid #ff6700;
    height: auto;
    margin: 10px auto;
    background: white;
    position: relative;
    border-radius: 3px;
    transition: width 50ms, box-shadow 50ms;
}

.main .order_content .order_info:hover {
    width: 1240px;
    box-shadow: 10px 10px 5px #888888;
}

.main .order_content .order_info .submit {
    position: absolute;
    right: 10%;
    top: 100px;
}

.main .order_content .order_info .submit .go_pay {
    margin: 0 0 10px auto;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    cursor: pointer;
    display: block;
    background: #ff6700;
    color: #fff;
    border: none;
    transition: background-color 0.2s, border-color 0.2s;
}

.main .order_content .order_info .submit .go_pay:hover {
    background-color: #f25807;
}

.main .order_content .order_info .submit .delete {
    margin: 0 0 10px auto;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    cursor: pointer;
    display: block;
    background: white;
    border: 1px solid #a3a3a3;
    color: #333;
    transition: background-color 0.2s, border-color 0.2s;
}

.main .order_content .order_info .submit .delete:hover {
    color: #fff;
    background-color: #757575;
    border-color: #757575;
}

.main .order_content .order_info .order_head {
    width: auto;
    height: 90px;
    background: #fffaf7;
    margin: 0 auto;
    border-bottom: 1px solid #feccac;
}

.main .order_content .order_info .order_head .help_info {
    height: 25px;
    padding: 30px 30px 0 66px;
    font-size: 20px;
    color: #ff6700;
}

.main .order_content .order_info .order_head .order_content {
    width: 800px;
    height: 30px;
    padding: 0 0 0 56px;
    line-height: 30px;
    font-weight: 400;
    text-align: left;
    color: #757575;
    float: left;
}

.main .order_content .order_info .order_head .order_content span {
    margin: 0 10px;
}

.main .order_content .order_info .order_head .order_money {
    color: #757575;
    width: 300px;
    height: auto;
    float: right;
}

.main .order_content .order_info .order_head .order_money .money {
    height: 18px;
    margin-right: 5px;
    font-size: 28px;
    font-weight: 200;
    line-height: 1;
    color: #333;
}

.main .order_content .order_info .order_list {
    display: inline-block;
    height: auto;
    width: 800px;
    margin: 20px 20px 0 20px;
}

.main .order_content .order_info .order_item {
    margin: 10px 0;
    height: 80px;
    width: auto;
}

.main .order_content .order_info .order_item .pic {
    width: 80px;
    height: 80px;
    line-height: 80px;
    float: left;
}

.main .order_content .order_info .order_item .detail {
    width: auto;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    float: left;
}

.main .order_content .order_info .order_item .price {
    width: auto;
    height: 80px;
    float: left;
    line-height: 80px;
    margin: 0 10px;
}

.main .order_content .order_info .order_item .num {
    width: auto;
    height: 80px;
    float: left;
    line-height: 80px;
    margin: 0 10px;
}

.main .order_content .noOrder {
    width: 1230px;
    height: auto;
    margin: 10px auto;
}

.main .order_content .noOrder img {
    position: absolute;
}